<!doctype html>
<html>
<head>
    <title> Banking API with Passport.js</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            
    <style>
        body         { padding-top:80px; word-wrap: text-center;};
        .content { padding-left: 200px; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><i class="large material-icons">account_balance</i> Welcome to the Bank  </h1>
    <br>
    <hr>
    <br>

 <div class="content">
        <a href="/auth/user/info" class="waves-effect waves-light btn-large"><i class="material-icons left">beenhere</i> View Info and Balance </a>
<a href="/auth/user/create" class="waves-effect waves-light btn-large"><i class="material-icons left">business_center</i>
Create New Account </a>  
</div>
    <br>

    <p>Already have an account? <a href="/signup">Signup</a></p>
    <p>Or go <a href="/">home</a>.</p>

</div>
</div>
</body>
</html>
